body {
  min-height: 100vh;
  min-height: 100vh;
    background-image: url(./components/assets/T-Estrellas_Organic_Farm2.png);
  background-repeat: no-repeat, repeat;
  background-size: cover;
}

body {
  background: linear-gradient(to right, #44a544, #3498db);
  z-index: -6;

}

.App {
  text-align: center;
}

.logo {
  height: 25vmin;
}

.App-header {
  background-color: #235223;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

